@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.cabecalho {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    padding: 20px 0;
    background-color: #B22234;
    color: white;
    align-items: center;
}

.logo-imagem {
    margin: auto;
    display: block;
    width: 84px;
    height: auto;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding: 25px;
    background-color: #3C3B6E;
}

.menu-fake {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
}

.menu-linhas {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    width: 35px;
    height: 35px;
}

.menu-linhas span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 3px;
    transition: all ease .3s;
}

.menu-fake:checked, .menu-fake:checked ~ .menu-linhas  {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

.menu-fake:checked ~ .menu-linhas span {
    background-color: #fff;
}

.menu-fake:checked ~ .menu-linhas span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
}

.menu-fake:checked ~ .menu-linhas span:nth-child(2) {
    opacity: 0;
}

.menu-fake:checked ~ .menu-linhas span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}

.menu-fake:checked ~ .nav {
    margin-right: 0;
}

.nav-menu {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.nav-link {
    font-size: 0.9em;
    color: white;
    font-weight: 400;
    margin-right: 5px;
}

.nav-lista {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.conteudo-index {
    margin: auto;
    display: block;
    max-width: 700px;
}

.section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15%;
}

.action-title h3 {
    font-size: 30px;
}

.button {
    background-color: #3C3B6E;
    color: white;
    display: inline-block;
    padding: 15px 70px;
    border-radius: 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin-top: 30px;
}

.figure1 img {
    margin: auto;
    display: block;
    width: 100%;
}

.ebook img {
    width: 70%;
    height: auto;
    margin-right: 50px;
}

.section-2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15%;
}

.section-2 h2 {
    text-transform: uppercase;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    list-style-type: none;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: #333333;
    color: white;
    width: 220px;
    height: 180px;
    border-radius: 10px;
    list-style-type: none;
}

.card img {
    width: 65px;
    height: 65px;
    margin: auto;
    display: block;
}

.card p {
    text-align: center;
}

.section-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 50px;
}

.button-2 {
    display: inline-block;
    background-color: #3C3B6E;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 12px
}

.section-3 h1 {
    font-size: 48px;
    color: #B22234;
}

.conteudo {
    margin: auto;
    display: block;
    max-width: 600px;
}

.conteudo-paragrafo {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.5;
    text-indent: 4em;
    font-family: Arial, Helvetica, sans-serif;
}

.exemplo {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px;
}

.referencia {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.referencia-link {
    display: inline-block;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.conteudo-titulo {
    font-size: 18pt;
    font-weight: bold;
    margin: 6% 0 20px;
}

.conteudo-subtitulo {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 15px;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B22234;
    padding: 50px;
    margin-top: 100px;
}

.rodape-paragrafo {
    font-size: 14px;
    margin-top: 30px;
    color: white;
}

@media (min-width: 718px) {
    .menu-fake {
        display: none;
    }
    
    .menu-linhas {
        display: none;
    }
    
    .menu-linhas span {
        display: none;
    }
}  

@media only screen and (max-width: 717px) {

    .menu-linhas, .menu-fake {
        margin: 40px 40px 0 0;
    }

    .nav {
        position: fixed;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 3rem 3rem 4rem;
        position: absolute;
        z-index: 998;
        right: 0;
        top: 0;
        width: 30%;
        height: 100%;
        padding-top: 100px;
        background-color: #3C3B6E;
        margin-right: -100%;
        transition: all ease .3s;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .nav-menu, .nav-link {
        color: #fff;
    }

    .nav-lista {
        display: grid;
        grid-template-columns: auto;
    }

    .nav-lista li {
        padding: 10px 0;
    }

    .action-title h3 {
        font-size: 25px;
        margin-right: 5px;
    }

    .ebook img {
        width: 70%;
        height: auto;
        margin: 0 20px 0 15px;
    }

    .button {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 670px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .conteudo {
        padding: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .figure1 img {
        width: 100%;
        height: auto;
    }
}